@font-face {
    font-family: 'PT_Sans';
    src: url(fonts/PT_Sans/PTSans-Regular.ttf);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT_Sans';
    color: #42567A;
    border-color: #F4F5F9;
}

.page {
    position: relative;
    min-height: 100vh;
}

h1 {
    font-size: 56px;
    line-height: 120%;
}

h4 {
    font-family: 'BebasNeue';

    font-size: 25px;
    line-height: 120%;

    margin-bottom: 15px;
}

.line {
    position: absolute;
    background-color: #42567A20;

    left: 0;
    top: 0;
}

.line_vertical {
    width: 1px;
    height: 100%;
}

.line_horizontal {
    height: 1px;
    width: 100%;
}

.text__color_fuxia {
    color: #5D5FEF;
}

.text__color_iris {
    color: #EF5DA8;
}

.text_color_blue {
    color: #3877EE;
}

.flex {
    display: flex;
}

@media (max-width: 900px) {
    .backgroundLines {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    .homePage_header {
        padding-left: 20px;

        &::before {
            display: none;
        }
    }

    .swiper.categoriessSwiper {
        top: initial;
        bottom: 13px;
        left: 20px;

        width: 60px;
        height: 50px;

        .swiper-button-prev,
        .swiper-button-next {
            width: 25px;
            height: 25px;
        }
    }

    .swiper.categoriessSwiperDots {
        display: block;
    }
  
    .homePage {
        .header {
            font-size: 56px;
            width: 50%;
        }

        main {
            left: 0px;
            right: 0px;
    
            padding-top: 60px;
            min-width: 320px;
            min-height: 556px;
        }

        .eventsSwiper {
            top: 55%;
            bottom: initial;
            padding: 20px 20px 0;
    
            &::before {
                content: "";
                position: absolute;
    
                width: calc(100vw - 40px);
                left: 20px;
                top: 0px;
    
                border-top: 1px solid #C7CDD9;
            }
    
            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }    
    }

    .sliderCircle {
        display: none;
    }
}